@tailwind base;
@tailwind components;
@tailwind utilities;

pre[class*="language-"],
code[class*="language-"] {
  white-space: normal;
  overflow: auto;
  word-break: break-word;
}

/* apply a natural box layout model to all elements, but allowing components to change */
html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
